.name {
	text-align: center;
}

.price {
	color: blue;
	text-align: right;
}

.image{
	display: inline-block;
	text-align: center;
}

.inp {
  width: 79%;
  color: #000;
  background-color: #fff;
}

.btt {
  width: 20%;
  height: auto;
  margin:0;
}

table{
	width: 100%;
}
