<ion-card *ngFor="let item of list">
  <ion-item>
    <ion-row> <h1 style="color: green;" *ngIf=item.approved.nickname> Aprovado </h1> </ion-row>  
    <ion-row> 
      Promotion: {{item.promotion.name}} - 
      <span style="color: green;" *ngIf=item.comment> Votado </span>
      <span style="color: red;" *ngIf=!item.comment> Não Votado </span>
    </ion-row> 
    <ion-row> Cashback: {{item.promotion.cashback_percentage}} </ion-row>
    <ion-row> Aprovado por: {{item.approved.nickname}} </ion-row>  
    <ion-row> Data: {{item.order.register_date}} </ion-row>
    <ion-row> 
      <button ion-button icon-start clear small (click)="vote(item.order, true)">
        <ion-icon name="thumbs-up"></ion-icon>
        {{item.promotion.order_upvotes}} Likes
      </button>
      <button ion-button icon-start clear small (click)="vote(item.order, false)">
        <ion-icon name="thumbs-down"></ion-icon>
        {{item.promotion.order_downvotes}} Dislikes
      </button>
    </ion-row>
  </ion-item>
</ion-card>
