<!-- Generated template for the AdcardComponent component -->
<ion-card  *ngFor="let item of list">
  <ion-item>
    <ion-avatar item-start>
      <img [src]="item.user.image_url">
    </ion-avatar>
    <h2>{{ item.user.nickname }}</h2>
    <p>{{ item.promotion.registerdate }}</p>
  </ion-item>
  <div class="frame">
    <h2>{{ item.promotion.name }}</h2>
    <img class="inner" [src]=item.promotion.image_url/>
  </div>
  <ion-card-content>
    <p>{{ item.promotion.description }}</p>
  </ion-card-content>
  <ion-row>
    <ion-col>
      <button ion-button icon-start clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>{{ item.promotion.likes }} Likes</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-start clear small>
        <ion-icon name="text"></ion-icon>
        <div>{{ item.promotion.comments }} Comentários</div>
      </button>
    </ion-col>
    <ion-col center text-center>
    </ion-col>
  </ion-row>
</ion-card>
