<ion-card  *ngFor="let item of list">
  <ion-item>
    <ion-avatar item-start>
      <img [src]="item.user.image_url">
    </ion-avatar>
    <button *ngIf="isUserListing" class="disable" ion-button icon-only (click)=disable(item.promotion.id)>
        <ion-icon name="remove-circle"></ion-icon>
    </button>
    <button class="disable" ion-button icon-only (click)=report(item.promotion.id)>
        <ion-icon name="flag"></ion-icon>
    </button>
    <h2>{{ item.user.nickname }}</h2>
    <p>{{ item.promotion.registerdate }}</p>
  </ion-item>
  <div class="frame">
    <h2>{{ item.promotion.name }}</h2>
    <img class="inner" [src]=item.promotion.image_url tappable (click)=openPage(item)/>
  </div>
  <ion-card-content>
    <p>{{ item.promotion.description }}</p>
  </ion-card-content>
</ion-card>
